body {
    font-family: 'Arima', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    padding: 20px 0;
    /* Espacio superior e inferior */
    
    text-align: center;
    /* Centrar el contenido */
}

header ul {
    margin: 5px 5px 5px 5px;
    border: 15px;
    padding: 5px 5px 5px 5px;
    
}

header img {
    max-width: 150px;
    /* Ajustar el tamaño del logo */
    margin-bottom: 15px;
    /* Espacio debajo del logo */
}

section p {
    text-align: justify;
    margin: 16px 16px;
}
#Salsa {
    max-width: 150px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

section{
    display: grid;
    
}

section div {
    margin: auto;
    place-items: center;

}

article img:hover {
    text-decoration: underline;
    transform: scale(1.2);
    transition: 1.0s;

}

article {

    padding: 20px;
    text-align: center;
}

article img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}

article p {
    font-size: 1.2em;
    margin: 10px 0;
}

nav {
    margin-bottom: 20px;
    /* Espacio debajo del nav */
}

nav ul {
    list-style-type: none;
    /* Sin viñetas */
    padding: 0;
}

nav ul li {
    display: inline;
    /* Elementos en línea */
    margin: 0 15px;
    /* Espaciado entre enlaces */
}

nav ul li a {
    color: white;
    /* Color del texto del enlace */
    text-decoration: none;
    /* Sin subrayado */
}

nav ul li a:hover {
    text-decoration: underline;
    /* Subrayar al pasar el ratón */
}

#Contacto {
    background-color: #c5a693;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    padding: 20px 0;
    /* Espacio superior e inferior */
    width: 100%;
}

#contacto ul{
    padding: 0 0 0 0;
}

#Contacto ul li {
    list-style: none;
    flex-direction: column;
    display: inline;
    margin: 0 100px;
    padding: 0 0 0 0;

}

#contacto ul li a {
    display: flex;
}

#Contacto ul li:hover {
    text-decoration: underline;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}